<ion-header>

  <ion-navbar color="secondary">

    <ion-title>{{'lines' | translate}}</ion-title>

    <ion-buttons end>
        <button ion-button (click)="onSortByCashLeft()" style="font-size: 0.9rem;">
        <ion-icon name="cash" ></ion-icon>
      </button>
        <button ion-button (click)="onSortByName()" style="font-size: 0.9rem;">
        <ion-icon name="list-box" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="budgetLines$ | async as blines else loadingTpl">
    <div *ngIf="filteredLines$ | async as lines else loadingTpl">
      <ion-searchbar (ionInput)="getItems($event, lines, blines)" [ngModel]="searchQuery$ | async"></ion-searchbar>
      <ion-list>
        <button class="linelist" ion-item detail-none *ngFor="let line of lines" (click)="onLineSelect(line)">
     {{line?.name}}
       <ion-badge [color]="getBadgeColor(line.cashLeft, line.cashToSpend)" item-right><span >{{line?.cashLeft | number:'1.0-0'}}</span> / <span style="font-size: 1.0rem;">{{line?.cashToSpend | number:'1.0-0'}}</span></ion-badge>
    </button>
      </ion-list>
    </div>
  </div>

  <ng-template #loadingTpl>
    <ion-grid style="height: 100%;">
      <ion-row align-items-center style="height: 100%;">
        <ion-col align-self-center text-center style="background-color: #ff6666;padding-top: 30px;padding-bottom: 30px;">
          <img src="assets/img/ball-triangle.svg" style="width: 20%;" align-center><img>
          <br><br><br><span class="loading">{{'loading' | translate}}...</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>