page-main-dashboard {
 .progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 40px;
  }

  .current {
    position: absolute;
    color: #1a7b99;
    font-weight: 100;
    line-height: 1;
  }

  .quote {
      font-size: 1.5rem;
      font-style: italic;
      margin-bottom: 0px;
  }
  .quoteperson {
      font-size: 1.2rem;
      margin-top: 5px;
      font-style: italic;
  }
}
