<ion-header>

  <ion-navbar color="secondary">
    <ion-title>
      <div *ngIf="isEditing()">
         {{'editline' | translate}}
      </div>
      <div *ngIf="!isEditing()">
         {{'addnewline' | translate}}
      </div>
     
      
      </ion-title>
    <ion-buttons start>
      <button ion-button (click)="onClose()">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <form [formGroup]="editSavingLineForm" *ngIf="savingsService.currentSaving$ | async as currentSaving else loadingTpl1">
    <ion-list>
      <ion-item>
        <ion-label stacked color="danger">{{'name' | translate}}:</ion-label>
        <ion-input type="text" text-left formControlName="lineName" ion-text ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="danger">{{'totalsavings' | translate}}:</ion-label>
        <ion-input type="number" text-center formControlName="amount" ion-text ></ion-input>
      </ion-item>


    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button type="button" color="danger" (click)="onSave(true, currentSaving.$key)" ion-button block icon-right 
          [disabled]="!(editSavingLineForm.valid)" style="padding-top: 32px; padding-bottom:32px;">
       {{'save' | translate}}<ion-icon name="exit"></ion-icon>
    </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <ng-template #loadingTpl1>
    {{'loading' | translate}}...
  </ng-template>

</ion-content>
